.{
    padding: 0;
    margin: 0;
}

body {
    background-color: blanchedalmond;
    text-align: center;
    font-size: large;
}

h1 {
    color: brown;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.content2 {
    display: flex;
    gap: 80px;
    padding: 50px 0 50px 0;
}

.content3 {
    padding: 50px 0 0 0;
}

.pp, .cp {
    font-size: 100px;
    margin: 0;
}

.btn {
    display: flex;
    gap: 40px;
}

button {
    padding: 8px 20px;
    border: none;
    background-color: brown;
    color: white;
}

.player, .computer, p {
    margin: 0;
}