* {
    padding: 0;
    margin: 0;
}

:root {
    --createAccountBtn: #596D48;
    --inputsBorderColor: #E5E7EB;
    --top-color: #f9fafb;
    --middle-color: #ffffff;
    --bottom-color: #f9fafb;
    --red: #b91c1c;
    --blue: #1d4ed8;
}


#container {
    display: flex;
}

.img-content {
    background-image: url(bg_img.jpg);
    background-size: cover;
    width: 40vw;
    height: 100vh;
}

img {
    width: 90px;
}

.logo-container {
    display: flex;
    color: white;
    font-family: 'Norse';
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    background-color: rgba(0, 0, 0, 0.5);
    height: 20vh;
}

.logo-name {
    font-size: 90px;
}

.form-content {
    height: 100vh;
    width: 100vw;
}

.form-content-text {
    background-color: var(--top-color);
    padding: 90px 100px 100px 40px;
    height: 10vh;
}

p:last-child {
    line-height: 80px;
}

form {
    padding: 20px 100px 100px 40px;
    height: 15vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

h2 {
    padding: 10px 100px 0px 40px;
}

.first-name, .last-name, .email, .phone, .password, .cpassword{
    padding: 10px 0;
    flex: 0 0 50%;
}

input {
    width: 250px; /* Increase the width of the input box */
    height: 30px; /* Increase the height of the input box */
  }
  

button {
    width: 250px;
    height: 50px;
    background-color: var(--createAccountBtn);
    color: var(--middle-color);
    border: 0;
    border-radius: 8px;
    box-shadow: 1px 1px 2px #888888;
    font-weight: bolder;
    font-size: large;
}

button:hover {
    cursor: pointer;
}

button:active {
    background-color: #294d0a;
}

input:focus {
    border-color: var(--blue);
    box-shadow: 1px 1px 10px #3d3d3d;
}

#errorMessage {
    margin-right: 40vw;
}

.footer {
    margin: 70px 45px;
}

.footer > a:link {
    color: var(--createAccountBtn);
    font-weight: bolder;
    text-decoration: none;
}

.credit {
    color: var(--middle-color);
    margin-top: 50vh;
    text-align: center;
}

.c-white {
    color: var(--middle-color);
}

/* Adjust layout for screens 600px or smaller */
@media (max-width: 600px) {
    #container {
      display: flex;
      flex-direction: column;

    }

    .img-content {
        background-image: url(bg_img.jpg);
        background-size: cover;
        width: 100vw;
        height: 40vh;
    }

    #errorMessage {
        margin-right: 30vw;
    }
    .credit {
        color: var(--middle-color);
        margin-top: 0vh;
        text-align: center;
    }

    .logo-container {

        margin-top: 80px;
        background-color: rgba(0, 0, 0, 0.5);
        height: 20vh;
    }
    .footer {
        margin: 300px 40px;
    }

  }